<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="\static\style.css\">
</head>
<body>
<p><a href="/hello/">hello</a></p>
<p><a href="/goodbye/">goodbye</a></p>
<p><a href="/seeyou/">seeyou</a></p>
<p><a href="/first/">Первое число в списке</a></p>
<p><a href="/last/">Последнее число в списке</a></p>
<p><a href="/sum/">Сумма числе в списке</a></p>
<p><a href="/mentions/">Вывод по @</a></p>
<p><a href="/words/">Посчитаем сколько слов в предложении</a></p>
<p><a href="/spaces/">Посчитаем пробелы</a></p>
<p><a href="/letters/">Посчитаем буквы</a></p>
<p><a href="/ip/">Узнать IP</a></p>
<input type="file" class="custom-file-input">

</body>
</html>